---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

 <div class="post">
 {{ content }}
   <br />
   <p class="right meta">
     Author: {{ page.author }}<br />
     Category: <a href={{site.baseurl}}/category.html?category={{page.categories}} >{{ page.categories }}</a>
   </p>
   <div id="page-move" class="clearfix">
{% if {{page.previous.url}} %}
  <p id="previous">previous<br /><a href="{{site.baseurl}}{{ page.previous.url }}">&lt; {{page.previous.title}}</a></p>
{% endif %}
{% if {{page.next.url}} %}
  <p id="next">next<br /><a href="{{site.baseurl}}{{ page.next.url }}">{{page.next.title}} &gt;</a></p>
{% endif %}
   </div>
 </div>
